#### Chuyển nội dung file Json thành file csv

In [ ]:
# import json

# with open('devset_images_metadata.json','r',encoding='utf-8') as json_file:
#     data = json.load(json_file)

In [ ]:
# import csv
# images = data['images']
# keys = images[0].keys()

# #Ghi nội dung vào file CSV
# with open('devimg_describe.csv', 'w', newline='',encoding='utf-8') as csv_file:
#     dict_writer = csv.DictWriter(csv_file, fieldnames=keys)
#     dict_writer.writeheader()
#     dict_writer.writerows(images)

In [5]:
import pandas as pd

# Đọc dữ liệu từ file CSV
df = pd.read_csv('devimg_describe.csv')

# Kiểm tra missing value
print(df.isnull().sum())

# Xử lý missing value bằng cách thay thế bằng chuỗi rỗng
df['description'].fillna('', inplace=True)
df['user_tags'].fillna('', inplace=True)

description                 1936
user_tags                      0
title                         92
license_name                   0
user_nsid                      0
image_extension_original       0
longitude                   2138
image_id                       0
license_url                    0
date_uploaded                  0
date_taken                     0
latitude                    2138
image_url                      0
user_nickname                  0
capture_device               636
dtype: int64

C:\Users\khuon\AppData\Local\Temp\ipykernel_6468\1872636303.py:10: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['description'].fillna('', inplace=True)
C:\Users\khuon\AppData\Local\Temp\ipykernel_6468\1872636303.py:11: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['user_tags'].fillna('', inplace=True)

In [6]:
df

,description,user_tags,title,license_name,user_nsid,image_extension_original,longitude,image_id,license_url,date_uploaded,date_taken,latitude,image_url,user_nickname,capture_device
0,,"['2009 road trip', 'obrero road trip']",Biltmore Estate,Attribution-NonCommercial-NoDerivs License,95156977@N00,jpg,NaN,3519864665,http://creativecommons.org/licenses/by-nc-nd/2.0/,1242004112,2009-05-10 08:27:33.0,NaN,http://www.flickr.com/photos/95156977@N00/3519...,5 Flip-Flops (Earl),Canon EOS DIGITAL REBEL XT
1,,"['daulatabad', 'daulatabad fort', 'ellora', 'r...",Chand Minar,Attribution-ShareAlike License,24574470@N00,jpg,75.200386,4896119055,http://creativecommons.org/licenses/by-sa/2.0/,1281931224,2010-08-14 13:35:10.0,19.939383,http://www.flickr.com/photos/24574470@N00/4896...,sankarshan,NIKON CORPORATION NIKON D90
2,"After the flood, the boarded up stores bear up...","['cedarrapids', 'createsouthroadtrip2009', 'di...",Uplifting Graffiti,Attribution License,73451168@N00,jpg,NaN,3468473862,http://creativecommons.org/licenses/by/2.0/,1240493762,2009-04-21 18:07:56.0,NaN,http://www.flickr.com/photos/73451168@N00/3468...,J Wynia,Panasonic DMC-TZ5
3,,"['cork', 'enchente', 'flood', 'ireland', 'irla...",DSCF6487,Attribution-NonCommercial-NoDerivs License,12947023@N00,jpg,-8.621177,4120853942,http://creativecommons.org/licenses/by-nc-nd/2.0/,1258754762,2009-11-20 15:16:40.0,51.889603,http://www.flickr.com/photos/12947023@N00/4120...,guileite,FUJIFILM FinePix S6000fd
4,,"['athens georgia', 'brown', 'current', 'flood'...",Oconoe river - flooded,Attribution License,60704492@N00,jpg,-83.368265,4436083254,http://creativecommons.org/licenses/by/2.0/,1268676971,2010-03-13 15:14:04.0,33.949149,http://www.flickr.com/photos/60704492@N00/4436...,The_Gut,Canon PowerShot SX10 IS
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5275,,"['550d', 'camino', 'canon', 'canoneos550d', 'c...",90,Attribution-NonCommercial-NoDerivs License,77410280@N02,jpg,-2.054529,8119782888,http://creativecommons.org/licenses/by-nc-nd/2.0/,1351102451,2012-08-24 15:45:44.0,43.311345,http://www.flickr.com/photos/77410280@N02/8119...,Guillermo Santander,Canon EOS 550D
5276,,"['albany, ny', 'flood', 'walk', 'water']","Albany's Corning Preserve, day after Irene",Attribution-NonCommercial-ShareAlike License,72996797@N00,jpg,NaN,6093294301,http://creativecommons.org/licenses/by-nc-sa/2.0/,1314640488,2011-08-29 12:28:43.0,NaN,http://www.flickr.com/photos/72996797@N00/6093...,fixlr,HTC HERO200
5277,,"['al', 'the waters in pike road']",IMG_4989,Attribution-NonCommercial License,32093753@N07,jpg,NaN,6791185487,http://creativecommons.org/licenses/by-nc/2.0/,1327953468,2009-04-28 01:13:58.0,NaN,http://www.flickr.com/photos/32093753@N07/6791...,ThreeRiversRecon,Canon EOS DIGITAL REBEL XTi
5278,2013 Fair Flood,"['2013', 'county', 'fair', 'flood', 'linn']",IMG_3011,Attribution-NonCommercial-ShareAlike License,65383126@N03,jpg,NaN,9144682941,http://creativecommons.org/licenses/by-nc-sa/2.0/,1372279879,2013-06-26 15:48:00.0,NaN,http://www.flickr.com/photos/65383126@N03/9144...,Linn County Fair,Canon EOS DIGITAL REBEL XSi
5279,"Alcatraz trip, San Francisco",[],Prison building,Attribution-NonCommercial-NoDerivs License,18604259@N00,jpg,NaN,596012254,http://creativecommons.org/licenses/by-nc-nd/2.0/,1182574734,2007-06-05 03:11:06.0,NaN,http://www.flickr.com/photos/18604259@N00/5960...,Caacrinolaas,"OLYMPUS IMAGING CORP. uD800,S800"

#### Xoá các cột không cần thiết

In [18]:
# #df = df.drop(columns=['license_name'])
# #df = df.drop(columns=['user_nsid'])
# #df = df.drop(columns=['image_extension_original'])
# #df = df.drop(columns=['longitude'])
# #df = df.drop(columns=['license_url'])
# #df = df.drop(columns=['date_uploaded'])
# #df = df.drop(columns=['date_taken'])
# df = df.drop(columns=['latitude'])
# df = df.drop(columns=['image_url'])
# df = df.drop(columns=['user_nickname'])
# df = df.drop(columns=['capture_device'])
# df = df.drop(columns=['title'])

# df.to_csv('description_id.csv', index=False)

In [19]:
data = pd.read_csv('description_id.csv')
data.head()

,description,user_tags,image_id
0,NaN,"['2009 road trip', 'obrero road trip']",3519864665
1,NaN,"['daulatabad', 'daulatabad fort', 'ellora', 'r...",4896119055
2,"After the flood, the boarded up stores bear up...","['cedarrapids', 'createsouthroadtrip2009', 'di...",3468473862
3,NaN,"['cork', 'enchente', 'flood', 'ireland', 'irla...",4120853942
4,NaN,"['athens georgia', 'brown', 'current', 'flood'...",4436083254

#### Ghép file chứa id/label và file chứa id/features (dựa vào id)

In [25]:
# import pandas as pd

# # Đọc dữ liệu từ hai file CSV
# df1 = pd.read_csv('description_id.csv')
# df2 = pd.read_csv('devset_images_gt.csv')

# # Ghép hai DataFrame dựa trên cột 'id_1' của df1 và 'id_2' của df2
# merged_df = pd.merge(df1, df2, left_on='image_id', right_on='id')

# # Hiển thị các cột sau khi ghép
# print("Các cột sau khi ghép:", merged_df.columns)

# # Lưu lại dữ liệu đã ghép vào file CSV mới
# merged_df.to_csv('final_describe.csv', index=False)

Các cột sau khi ghép: Index(['description', 'user_tags', 'image_id', 'id', 'label'], dtype='object')

In [28]:
# df3 = pd.read_csv('final_decribe.csv')
# df3 = df3.drop(columns=['image_id'])
# df3.to_csv('final_decribe.csv', index = False)

In [30]:
# df3

,description,user_tags,id,label
0,NaN,"['2009 road trip', 'obrero road trip']",3519864665,0
1,NaN,"['daulatabad', 'daulatabad fort', 'ellora', 'r...",4896119055,0
2,"After the flood, the boarded up stores bear up...","['cedarrapids', 'createsouthroadtrip2009', 'di...",3468473862,0
3,NaN,"['cork', 'enchente', 'flood', 'ireland', 'irla...",4120853942,0
4,NaN,"['athens georgia', 'brown', 'current', 'flood'...",4436083254,0
...,...,...,...,...
5275,NaN,"['550d', 'camino', 'canon', 'canoneos550d', 'c...",8119782888,0
5276,NaN,"['albany, ny', 'flood', 'walk', 'water']",6093294301,1
5277,NaN,"['al', 'the waters in pike road']",6791185487,0
5278,2013 Fair Flood,"['2013', 'county', 'fair', 'flood', 'linn']",9144682941,0
5279,"Alcatraz trip, San Francisco",[],596012254,0

In [73]:
#xử lý các giá trị NaN
import pandas as pd
df = pd.read_csv('final_describe.csv')
df.fillna('', inplace=True)

In [22]:
df

,description,user_tags,id,label
0,,"['2009 road trip', 'obrero road trip']",3519864665,0
1,,"['daulatabad', 'daulatabad fort', 'ellora', 'r...",4896119055,0
2,"After the flood, the boarded up stores bear up...","['cedarrapids', 'createsouthroadtrip2009', 'di...",3468473862,0
3,,"['cork', 'enchente', 'flood', 'ireland', 'irla...",4120853942,0
4,,"['athens georgia', 'brown', 'current', 'flood'...",4436083254,0
...,...,...,...,...
5275,,"['550d', 'camino', 'canon', 'canoneos550d', 'c...",8119782888,0
5276,,"['albany, ny', 'flood', 'walk', 'water']",6093294301,1
5277,,"['al', 'the waters in pike road']",6791185487,0
5278,2013 Fair Flood,"['2013', 'county', 'fair', 'flood', 'linn']",9144682941,0
5279,"Alcatraz trip, San Francisco",[],596012254,0

#### Ghép cột description và user_tags, vector hoá dữ liệu

In [23]:
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer

# Kết hợp cột description và tag thành một cột duy nhất
df['text'] = df['description'] + ' ' + df['user_tags']

# Tách dữ liệu thành training và testing set
X_train, X_test, y_train, y_test = train_test_split(df['text'], df['label'], test_size=0.2, random_state=42)

# Chuyển văn bản thành vector
vectorizer = TfidfVectorizer(max_features=10000)
X_train_tfidf = vectorizer.fit_transform(X_train)
X_test_tfidf = vectorizer.transform(X_test)

#### Logistic Regression

In [5]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score

# Khởi tạo mô hình Logistic Regression
model = LogisticRegression()

# Huấn luyện mô hình
model.fit(X_train_tfidf, y_train)

# Dự đoán trên tập test
y_pred = model.predict(X_test_tfidf)

# Đánh giá mô hình
accuracy = accuracy_score(y_test, y_pred)
precision = precision_score(y_test, y_pred)
recall = recall_score(y_test, y_pred)
f1 = f1_score(y_test, y_pred)

print(f'Accuracy: {accuracy}')
print(f'Precision: {precision}')
print(f'Recall: {recall}')
print(f'F1-score: {f1}')

Accuracy: 0.8267045454545454
Precision: 0.8093841642228738
Recall: 0.700507614213198
F1-score: 0.7510204081632653